{% extends 'Base.html'%}
	{% block content%}
	{% if messages %}
		{% for message in messages %}
			{% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

		{% endfor %}

	{% endif %}
{%load static%}
    
<div style="background-image:  url(); background-repeat:no-repeat;background-size:cover;  min-height:658px; width:100%;height: auto;">

<div style="height:10px;background-color: orange;">
  
</div>

<header>
	<h1>
    Home
</h1>
</header>

<br>

<center>
	<div id="carouselExample" class="carousel slide" style="width: 70%;">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <video  src="/media/new.mp4" width="100%" class="object-fit-fill" controls autoplay loop></video>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/media/img.jpg">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="/media/farmland.jpg">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>	
</center>

    
</div>
{%endblock%}