{% extends 'Base.html'%}
{% block content%}
{% if messages %}

{% for message in messages %}
{% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}

{% endfor %}

{% endif %}
{%load static%}
<div style="background-image:  url('/media/home.jpg'); background-repeat:no-repeat;background-size:cover;  height:750px; width:100%;">

<div style="height:10px;background-color: orange;">
  
</div>

<header>
    <h1>
        View Appoinments
    </h1>
</header>


<br>

<div class="container" style="background-color:white;height: 650px;">
	<h3 style="text-align:center;">Appointment List</h3>
	<table class="table table-hover table-stripped table-light">
		<thead>
			<th>Booking ID</th>
			<th>Patient ID</th>
			<th>Start time</th>
			<th>End Time</th>
			<th>Reason</th>
			<th>Medical History</th>
			<th>Payment Status</th>
            <th>Current Status</th>
			<th style="text-align:center;" colspan="3">Action</th>

		



			
			
		</thead>

		<tbody>
			{%for i in data%}
			<tr>
				<td>{{i.id}}</td>
				<td>{{i.Patient}}</td>
				<td>{{i.Start_time}}</td>
				<td>{{i.End_Time}}</td>
				<td>{{i.Reason}}</td>
				<td>{{i.Medical_History}}</td>
				<td>{{i.Fee_status}}</td>
				<td>
					{{i.Appointment_Status}}
				</td>
				{%if i.Appointment_Status == 'Pending'%}
				
				<td>
					<a href="/Booking_status/{{i.id}}" class="btn btn-success">Accept Request</a>
				</td>
				<td>
					<a href="/Booking_status1/{{i.id}}" class="btn btn-danger">Reject Request</a>
				</td>
				{%else%}
				
				{%endif%}



				{%if i.Appointment_Status == 'Accepted' and i.Treatment_Status != 'Given' %}
				<td>
					<a class="btn btn-secondary" href="/Give_Treatment/{{i.id}}">Give Treatment</a>
				</td>
				{% else %}
				<td>
    <input type="button" class="btn btn-secondary" data-id="{{ i.id }}" data-patient="{{ i.Patient }}" data-booking-datetime="{{ i.Booking_Date_Time }}" data-reason="{{ i.Reason }}" data-prescription="{{ i.Prescription }}" data-diagnosis="{{ i.Diagnosis }}" data-follow-up-instructions="{{ i.Follow_Up_Instructions }}" data-lab-tests="{{ i.Lab_Tests }}" data-imaging-tests="{{ i.Imaging_Tests }}" data-medical-history="{{ i.Medical_History }}" data-fees="{{i.Fee_status}}" value="View Details" onclick="viewDetailsModal(this)">
</td>
				{%endif%}
			</tr>
			{%endfor%}
		</tbody>
	</table>
</div>
<div class="modal fade" id="viewDetailsModal" tabindex="-1" aria-labelledby="viewDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewDetailsModalLabel">Appointment Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                	<div class="mb-3">
                        <label for="modalPatient" class="form-label">Appointment ID:</label>
                        <input type="text" class="form-control" id="modalId" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="modalPatient" class="form-label">Patient:</label>
                        <input type="text" class="form-control" id="modalPatient" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="modalBookingDateTime" class="form-label">Booking Date & Time:</label>
                        <input type="text" class="form-control" id="modalBookingDateTime" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="modalReason" class="form-label">Reason:</label>
                        <textarea class="form-control" id="modalReason" readonly></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="modalPrescription" class="form-label">Prescription:</label>
                        <textarea class="form-control" id="modalPrescription" readonly></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="modalDiagnosis" class="form-label">Diagnosis:</label>
                        <textarea class="form-control" id="modalDiagnosis" readonly></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="modalFollowUpInstructions" class="form-label">Follow-Up Instructions:</label>
                        <textarea class="form-control" id="modalFollowUpInstructions" readonly></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="modalLabTests" class="form-label">Lab Tests:</label>
                        <textarea class="form-control" id="modalLabTests" readonly></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="modalImagingTests" class="form-label">Imaging Tests:</label>
                        <textarea class="form-control" id="modalImagingTests" readonly></textarea>
                    </div>
                  
                    <div class="mb-3">
                        <label for="modalMedicalHistory" class="form-label">Medical History:</label>
                        <textarea class="form-control" id="modalMedicalHistory" readonly></textarea>
                    </div>

                    <div class="mb-3">
                        <label for="fees" class="form-label">Fees</label>
                        <textarea class="form-control" id="fees" readonly></textarea>
                    </div>
                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

    <script>
    function viewDetailsModal(button) {
    	var modalId = document.getElementById("modalId");
    	console.log(modalId);
        var modalPatient = document.getElementById("modalPatient");
        var modalBookingDateTime = document.getElementById("modalBookingDateTime");
        var modalReason = document.getElementById("modalReason");
        var modalPrescription = document.getElementById("modalPrescription");
        var modalDiagnosis = document.getElementById("modalDiagnosis");
        var modalFollowUpInstructions = document.getElementById("modalFollowUpInstructions");
        var modalLabTests = document.getElementById("modalLabTests");
        var modalImagingTests = document.getElementById("modalImagingTests");
        // var modalBillingAndPayment = document.getElementById("modalBillingAndPayment");
        var modalMedicalHistory = document.getElementById("modalMedicalHistory");
        var modalTreatmentStatus = document.getElementById("modalTreatmentStatus");
        var fees = document.getElementById("fees");

        // Get the appointment data from the data attributes
        var id = button.getAttribute("data-id");
        console.log(id);
        var patient = button.getAttribute("data-patient");
        var bookingDateTime = button.getAttribute("data-booking-datetime");
        var reason = button.getAttribute("data-reason");
        var prescription = button.getAttribute("data-prescription");
        var diagnosis = button.getAttribute("data-diagnosis");
        var followUpInstructions = button.getAttribute("data-follow-up-instructions");
        var labTests = button.getAttribute("data-lab-tests");
        var imagingTests = button.getAttribute("data-imaging-tests");
        var billingAndPayment = button.getAttribute("data-billing-and-payment");
        var medicalHistory = button.getAttribute("data-medical-history");
        var fees_status = button.getAttribute("data-fees");

        // Populate the modal content
        modalId.value = id;
        modalPatient.value = patient;
        modalBookingDateTime.value = bookingDateTime;
        modalReason.textContent = reason;
        modalPrescription.textContent = prescription;
        modalDiagnosis.textContent = diagnosis;
        modalFollowUpInstructions.textContent = followUpInstructions;
        modalLabTests.textContent = labTests;
        modalImagingTests.textContent = imagingTests;
        modalMedicalHistory.textContent = medicalHistory;
        fees.textContent = fees_status;

        // Open the modal
        var viewDetailsModal = new bootstrap.Modal(document.getElementById("viewDetailsModal"));
        viewDetailsModal.show();
    }
</script>


    
</div>
{% endblock %}